:root {
    --blue: #083AA9;
    --navy: #002e94;
    --wedding: #ffe7cc;
}

* {
box-sizing: border-box;
margin: 0;
padding: 0;
}

body {
    background-color: var(--wedding);
    font-family: Arial, Helvetica, sans-serif;
}

header {
    background-color: var(--navy);
    color: var(--wedding);
    width: 100%;
}
.header-title {
    padding: 1rem;
}

.banner {
    margin-top: 160px;
    margin-bottom: 50px;
    text-align: center;

}

.banner-images {
    width: 200px;
    height: auto;
    border-radius: 10px;
}

main {
    width: 90%;
    margin-left: auto;
    margin-right: auto;
}

.tabs {
    list-style: none;
    width: 100%;
    font-family: Arial, Helvetica, sans-serif;
    position: relative;
}

.tabs li {
    display: inline-block;
}

.tabs input[type="radio"] {
    display: none;
}

.tabs label {
border: 2px solid black;
border-bottom: 0px;
padding: 15px 20px;
border-radius: 3px 3px 0 0;
cursor: pointer;

}

.tabs .tab-panel {
    position: absolute;
    left: 0;
    opacity: 0;
    border-top:2px solid black ;
    background-color: beige;

    opacity: 0;
    padding: 1rem;
    margin-top: 10px;
    transition: opacity 400ms ease-out;

}

.tabs [id^="tab"]:checked + label {
    background-color: var(--navy);
    color: var(--wedding);
}

.tabs [id^="tab"]:checked ~ [id^="tab-panel"] {
    opacity: 1;
    transition: opacity 400ms ease-out;
}